## Pandas -- Select Data

There are different methods to select data from a dataframe.

In [3]:
import pandas as pd
fp = r'C:\Users\Gokul G\Desktop\WORK\GISISH\GIS-ish\data\data_missing.csv'
data = pd.read_csv(fp,sep=',',  na_values=[-999.0,-999,0])

When you have a large amount of data you need to seperate the necessary subset of data. There are different methods to select data from a dataframe. We can select specific rows, columns or individual values.

## Basic

The most basic method of selecting data is passing a the column or a list of columns through  "[]" to select columns in that order. If a column is not contained in the DataFrame, an exception will be raised. 

If we use the name of column to select data. For a single column to be selected we can pass that through the syntax.

In [4]:
data['AOD_500nm']

0      0.465554
1      0.467158
2      0.384415
3      0.446749
4      0.853487
         ...
226    0.386597
227    0.568703
228    1.093727
229    0.968812
230    0.888350
Name: AOD_500nm, Length: 231, dtype: float64

But for multiple columns, the names of columns have to be passed as a list itself.

In [5]:
data1 = data[["AOD_500nm",'Precipitable_Water(cm)', '380-500_Angstrom_Exponent','NUM_DAYS[AOD_500nm]','Latitude(degrees)', 'Longitude(degrees)', 'Elevation(meters)']]
data1

,AOD_500nm,Precipitable_Water(cm),380-500_Angstrom_Exponent,NUM_DAYS[AOD_500nm],Latitude(degrees),Longitude(degrees),Elevation(meters)
0,0.465554,0.987951,1.022942,6.0,26.512778,80.231639,123
1,0.467158,1.192020,0.953232,27.0,26.512778,80.231639,123
2,0.384415,1.335340,0.831398,29.0,26.512778,80.231639,123
3,0.446749,1.748747,0.671229,27.0,26.512778,80.231639,123
4,0.853487,3.218051,0.492042,15.0,26.512778,80.231639,123
...,...,...,...,...,...,...,...
226,0.386597,5.387187,1.124449,14.0,26.512778,80.231639,123
227,0.568703,2.976800,1.119891,28.0,26.512778,80.231639,123
228,1.093727,1.334782,0.860219,27.0,26.512778,80.231639,123
229,0.968812,1.385191,0.824532,27.0,26.512778,80.231639,123
230,0.888350,1.205019,0.776619,16.0,26.512778,80.231639,123

In this basic method we can also slice data. But it will only slice the rows. You can select the specific columns [0:11] and even decide to skip the odd ones in between.

In [6]:
data2= data[0:11:2]
data2

,Month,AOD_1020nm,AOD_870nm,AOD_675nm,AOD_500nm,AOD_440nm,AOD_380nm,AOD_340nm,Precipitable_Water(cm),440-870_Angstrom_Exponent,...,NUM_POINTS[Precipitable_Water(cm)],NUM_POINTS[440-870_Angstrom_Exponent],NUM_POINTS[380-500_Angstrom_Exponent],NUM_POINTS[440-675_Angstrom_Exponent],NUM_POINTS[500-870_Angstrom_Exponent],NUM_POINTS[340-440_Angstrom_Exponent],Data_Quality_Level,Latitude(degrees),Longitude(degrees),Elevation(meters)
0,2001-JAN,0.176252,0.224173,0.313830,0.465554,0.526493,0.607128,0.669815,0.987951,1.291169,...,174.0,174.0,171.0,172.0,174.0,169.0,lev20,26.512778,80.231639,123
2,2001-MAR,0.222493,0.249700,0.294628,0.384415,0.417067,0.482666,0.547509,1.335340,0.793650,...,1169.0,1169.0,1169.0,1169.0,1169.0,1165.0,lev20,26.512778,80.231639,123
4,2001-MAY,0.671964,0.702189,0.752185,0.853487,0.920185,0.974761,1.039320,3.218051,0.387213,...,652.0,691.0,684.0,691.0,691.0,633.0,lev20,26.512778,80.231639,123
6,2001-JUL,0.130284,0.155948,0.206017,0.306863,0.338676,0.404804,0.446064,5.351662,1.231005,...,231.0,231.0,231.0,231.0,231.0,231.0,lev20,26.512778,80.231639,123
8,2001-SEP,0.314473,0.348156,0.418055,0.547356,0.589305,0.693417,0.748564,3.412199,0.827335,...,1029.0,1046.0,1045.0,1046.0,1046.0,1015.0,lev20,26.512778,80.231639,123
10,2001-NOV,0.281033,0.357068,0.514964,0.762689,0.858017,1.005858,1.074658,1.456885,1.296150,...,923.0,923.0,923.0,923.0,923.0,919.0,lev20,26.512778,80.231639,123

## loc()

For selection the pandas loc() function can be used in two ways.

- To select using label/index.
- To select using a conditional statement.

The arguments for loc() are row selector and column selector. This function can be used to select one row or slice of row by calling the index of the row. To print the single row neatly add a bracket again.

In [7]:
data.loc[7]

Month                                     2001-AUG
AOD_1020nm                                0.408852
AOD_870nm                                 0.439622
AOD_675nm                                 0.497286
AOD_500nm                                 0.607544
AOD_440nm                                 0.696811
AOD_380nm                                 0.716382
AOD_340nm                                 0.763901
Precipitable_Water(cm)                    5.015099
440-870_Angstrom_Exponent                 0.892881
380-500_Angstrom_Exponent                 0.805145
440-675_Angstrom_Exponent                 0.921231
500-870_Angstrom_Exponent                 0.930722
340-440_Angstrom_Exponent                 0.865587
NUM_DAYS[AOD_1020nm]                           9.0
NUM_DAYS[AOD_870nm]                            9.0
NUM_DAYS[AOD_675nm]                            9.0
NUM_DAYS[AOD_500nm]                            9.0
NUM_DAYS[AOD_440nm]                            7.0
NUM_DAYS[AOD_380nm]                            9.0
NUM_DAYS[AOD_340nm]                            9.0
NUM_DAYS[Precipitable_Water(cm)]               9.0
NUM_DAYS[440-870_Angstrom_Exponent]            9.0
NUM_DAYS[380-500_Angstrom_Exponent]            9.0
NUM_DAYS[440-675_Angstrom_Exponent]            9.0
NUM_DAYS[500-870_Angstrom_Exponent]            9.0
NUM_DAYS[340-440_Angstrom_Exponent]            9.0
NUM_POINTS[AOD_1020nm]                       114.0
NUM_POINTS[AOD_870nm]                        114.0
NUM_POINTS[AOD_675nm]                        114.0
NUM_POINTS[AOD_500nm]                        114.0
NUM_POINTS[AOD_440nm]                         78.0
NUM_POINTS[AOD_380nm]                        112.0
NUM_POINTS[AOD_340nm]                        110.0
NUM_POINTS[Precipitable_Water(cm)]           112.0
NUM_POINTS[440-870_Angstrom_Exponent]        114.0
NUM_POINTS[380-500_Angstrom_Exponent]        114.0
NUM_POINTS[440-675_Angstrom_Exponent]        114.0
NUM_POINTS[500-870_Angstrom_Exponent]        114.0
NUM_POINTS[340-440_Angstrom_Exponent]        112.0
Data_Quality_Level                           lev20
Latitude(degrees)                        26.512778
Longitude(degrees)                       80.231639
Elevation(meters)                              123
Name: 7, dtype: object

In [41]:
data.loc[[5]]

,Month,AOD_1020nm,AOD_870nm,AOD_675nm,AOD_500nm,AOD_440nm,AOD_380nm,AOD_340nm,Precipitable_Water(cm),440-870_Angstrom_Exponent,...,NUM_POINTS[Precipitable_Water(cm)],NUM_POINTS[440-870_Angstrom_Exponent],NUM_POINTS[380-500_Angstrom_Exponent],NUM_POINTS[440-675_Angstrom_Exponent],NUM_POINTS[500-870_Angstrom_Exponent],NUM_POINTS[340-440_Angstrom_Exponent],Data_Quality_Level,Latitude(degrees),Longitude(degrees),Elevation(meters)
5,2001-JUN,0.373318,0.404424,0.465092,0.582412,0.611897,0.705036,0.760446,4.610096,0.740323,...,420.0,447.0,443.0,446.0,447.0,421.0,lev20,26.512778,80.231639,123

In [8]:
data.loc[0:5]

,Month,AOD_1020nm,AOD_870nm,AOD_675nm,AOD_500nm,AOD_440nm,AOD_380nm,AOD_340nm,Precipitable_Water(cm),440-870_Angstrom_Exponent,...,NUM_POINTS[Precipitable_Water(cm)],NUM_POINTS[440-870_Angstrom_Exponent],NUM_POINTS[380-500_Angstrom_Exponent],NUM_POINTS[440-675_Angstrom_Exponent],NUM_POINTS[500-870_Angstrom_Exponent],NUM_POINTS[340-440_Angstrom_Exponent],Data_Quality_Level,Latitude(degrees),Longitude(degrees),Elevation(meters)
0,2001-JAN,0.176252,0.224173,0.313830,0.465554,0.526493,0.607128,0.669815,0.987951,1.291169,...,174.0,174.0,171.0,172.0,174.0,169.0,lev20,26.512778,80.231639,123
1,2001-FEB,0.207033,0.249738,0.327059,0.467158,0.524082,0.608011,0.681116,1.192020,1.095703,...,988.0,988.0,986.0,987.0,988.0,976.0,lev20,26.512778,80.231639,123
2,2001-MAR,0.222493,0.249700,0.294628,0.384415,0.417067,0.482666,0.547509,1.335340,0.793650,...,1169.0,1169.0,1169.0,1169.0,1169.0,1165.0,lev20,26.512778,80.231639,123
3,2001-APR,0.317698,0.338976,0.373772,0.446749,0.463579,0.532277,0.585415,1.748747,0.537987,...,1206.0,1207.0,1207.0,1207.0,1207.0,1200.0,lev20,26.512778,80.231639,123
4,2001-MAY,0.671964,0.702189,0.752185,0.853487,0.920185,0.974761,1.039320,3.218051,0.387213,...,652.0,691.0,684.0,691.0,691.0,633.0,lev20,26.512778,80.231639,123
5,2001-JUN,0.373318,0.404424,0.465092,0.582412,0.611897,0.705036,0.760446,4.610096,0.740323,...,420.0,447.0,443.0,446.0,447.0,421.0,lev20,26.512778,80.231639,123

In [9]:
data.loc[:,['Month','AOD_1020nm']]

        Month  AOD_1020nm
0    2001-JAN    0.176252
1    2001-FEB    0.207033
2    2001-MAR    0.222493
3    2001-APR    0.317698
4    2001-MAY    0.671964
..        ...         ...
226  2021-SEP    0.142679
227  2021-OCT    0.226273
228  2021-NOV    0.392829
229  2021-DEC    0.351531
230  2022-JAN    0.369279

[231 rows x 2 columns]

To select specific columns we have to set the row selector first then set the columns selector. Single column can be called separately, but multiple column needs to be called as a list. The specific rows can be sliced according to the need as the row selector.

In [10]:
data.loc[2:10,['Month','AOD_1020nm']]

       Month  AOD_1020nm
2   2001-MAR    0.222493
3   2001-APR    0.317698
4   2001-MAY    0.671964
5   2001-JUN    0.373318
6   2001-JUL    0.130284
7   2001-AUG    0.408852
8   2001-SEP    0.314473
9   2001-OCT    0.284652
10  2001-NOV    0.281033

Now the selection of columns using conditional statements is one of the most common use of loc() function. This is also called filtering of data.

In most use cases, you will make selections based on the values of different columns in your data set. if we use the condition of only one column.

In [23]:
data.loc[data['AOD_500nm'] < 0.38]

,Month,AOD_1020nm,AOD_870nm,AOD_675nm,AOD_500nm,AOD_440nm,AOD_380nm,AOD_340nm,Precipitable_Water(cm),440-870_Angstrom_Exponent,...,NUM_POINTS[Precipitable_Water(cm)],NUM_POINTS[440-870_Angstrom_Exponent],NUM_POINTS[380-500_Angstrom_Exponent],NUM_POINTS[440-675_Angstrom_Exponent],NUM_POINTS[500-870_Angstrom_Exponent],NUM_POINTS[340-440_Angstrom_Exponent],Data_Quality_Level,Latitude(degrees),Longitude(degrees),Elevation(meters)
6,2001-JUL,0.130284,0.155948,0.206017,0.306863,0.338676,0.404804,0.446064,5.351662,1.231005,...,231.0,231.0,231.0,231.0,231.0,231.0,lev20,26.512778,80.231639,123
14,2002-MAR,0.218100,0.239830,0.283648,0.375469,0.421031,0.490924,0.547772,1.538749,0.893911,...,1108.0,1108.0,1108.0,1108.0,1108.0,1100.0,lev20,26.512778,80.231639,123
19,2002-AUG,0.142575,0.173820,0.091856,0.377985,0.421289,0.511623,0.563528,5.524608,1.400728,...,80.0,81.0,81.0,81.0,81.0,81.0,lev20,26.512778,80.231639,123
43,2004-AUG,0.177821,0.203533,0.243291,0.327848,0.361067,0.422232,NaN,NaN,0.997227,...,NaN,9.0,9.0,9.0,9.0,9.0,lev20,26.512778,80.231639,123
62,2006-MAR,0.209219,0.232149,0.258751,0.317402,0.356883,0.408429,0.433970,1.340921,0.723192,...,104.0,104.0,104.0,104.0,104.0,104.0,lev20,26.512778,80.231639,123
130,2013-MAR,0.148293,0.174644,0.226627,0.331449,0.384915,0.459246,0.505169,1.326360,1.220860,...,766.0,766.0,766.0,766.0,766.0,764.0,lev20,26.512778,80.231639,123
180,2017-JUL,0.128439,0.165191,0.242346,0.377725,0.427225,0.485045,0.528203,5.656739,1.508481,...,158.0,163.0,162.0,163.0,163.0,156.0,lev20,26.512778,80.231639,123

In the case of multiple conditions the “AND” (|) and “OR” (&) operators are used for selection.

In [38]:
data.loc[(data['AOD_500nm'] < 0.42) & (data['NUM_DAYS[AOD_500nm]'] > 20)]

,Month,AOD_1020nm,AOD_870nm,AOD_675nm,AOD_500nm,AOD_440nm,AOD_380nm,AOD_340nm,Precipitable_Water(cm),440-870_Angstrom_Exponent,...,NUM_POINTS[Precipitable_Water(cm)],NUM_POINTS[440-870_Angstrom_Exponent],NUM_POINTS[380-500_Angstrom_Exponent],NUM_POINTS[440-675_Angstrom_Exponent],NUM_POINTS[500-870_Angstrom_Exponent],NUM_POINTS[340-440_Angstrom_Exponent],Data_Quality_Level,Latitude(degrees),Longitude(degrees),Elevation(meters)
2,2001-MAR,0.222493,0.249700,0.294628,0.384415,0.417067,0.482666,0.547509,1.335340,0.793650,...,1169.0,1169.0,1169.0,1169.0,1169.0,1165.0,lev20,26.512778,80.231639,123
14,2002-MAR,0.218100,0.239830,0.283648,0.375469,0.421031,0.490924,0.547772,1.538749,0.893911,...,1108.0,1108.0,1108.0,1108.0,1108.0,1100.0,lev20,26.512778,80.231639,123
83,2009-FEB,NaN,0.221736,0.289520,0.413722,0.466535,0.536378,0.589500,1.223850,1.089039,...,1234.0,1234.0,1234.0,1234.0,1234.0,1215.0,lev20,26.512778,80.231639,123
152,2015-MAR,0.165598,0.196264,0.264380,0.388511,0.452476,0.535519,0.585802,2.017684,1.243886,...,816.0,816.0,814.0,816.0,816.0,805.0,lev20,26.512778,80.231639,123

## iloc()

Similarly iloc() is used for purely integer-location based indexing for selection by position.

In [39]:
data.iloc[0:5:, 0:2]

      Month  AOD_1020nm
0  2001-JAN    0.176252
1  2001-FEB    0.207033
2  2001-MAR    0.222493
3  2001-APR    0.317698
4  2001-MAY    0.671964

## at()

To access a single value in a dataframe at() function is used. this function is similar to loc() function, it can use labels and column names for selecting data. Similar to iloc(), iat() function selects data based on position indexes.

In [40]:
data.at[5,'AOD_500nm']

0.582412