## Python- Pandas

Pandas is an open-source package for data analysis in Python. It is built on the numpy library and written in languages like Python, Cython, and C. Exploring data using pandas is the most basic skill needed for any data analysis using python.

 
In pandas, we can import data from various file formats like JSON, SQL, Microsoft Excel, etc. For any data analysis in python pandas is an essential. It is the most downloaded python package. Let's go through all the necessary methods and functions in panda. I am only going through the uses in a tabulated data.

Every module need to be imported first.

In [1]:
import pandas as pd

I am using AERONET level 2 monthly data of Kanpur station downloaded from AERONET site for this practice.

# Reading data

Data can be provided in many different formats (CSV, TSV, JSON, HTML, SAS, etc.) reading them is the first step to the data analysis.

To read a comma-separated values(csv) data file, and store the contents of that file into a variable called data we use the pandas.read_csv() function:

read_csv() is used to read a csv file into DataFrame, commonly used  variables are "df" and "data"

In [18]:
fp = r'C:\Users\Gokul G\Desktop\WORK\GISISH\GIS-ish\data\Kanpur.csv'
data = pd.read_csv(fp,sep=',',index_col= "Month", skiprows=6, na_values=[-999.0,-999])

Some common arguments that we need to know for reading files are:

- fp - file path

If the file to be used is in the same location as the python file then only relative  location is needed to be given as the file path(fp), if the csv is in another location pass in the full location to the file path. 
In some cases the location can be called without the ''r(raw strings)'' in the beginning, but the r present will provide an escape sequence and it will properly read every file path, so it is always safer to put an ''r'' before the file path.

- sep 

This parameter is used to indicate that we are dealing with a comma-delimited text file. Comma is also the default value for the sep-parameter. Depending on your operating system and the input data, you might need to specify other separators such as ''tab'' and ";".

- skiprows

This is to indicate the line numbers to skip (0-indexed) or number of lines to skip (int) at the start of the file. 

- index_col

Column(s) to use as the row labels of the DataFrame, either given as string name or column index. "index_col = False" can be used to force pandas to not use the first column as the index. 

- usecols

This is used when only a subset of the columns is needed for the analysis. Columns are called either by positional (i.e. integer indices into the document columns) or strings that correspond to column names provided either by the user in names or inferred from the document header row(s).

- na_values

This is used to recognize the common null values or no value available. Identifying the null values before hand helps to make analysis better. If dict passed, specific per-column NA values.

The output is shown as below:

In [19]:
data.head()

,AOD_1640nm,AOD_1020nm,AOD_870nm,AOD_865nm,AOD_779nm,AOD_675nm,AOD_667nm,AOD_620nm,AOD_560nm,AOD_555nm,...,NUM_POINTS[440-870_Angstrom_Exponent],NUM_POINTS[380-500_Angstrom_Exponent],NUM_POINTS[440-675_Angstrom_Exponent],NUM_POINTS[500-870_Angstrom_Exponent],NUM_POINTS[340-440_Angstrom_Exponent],NUM_POINTS[440-675_Angstrom_Exponent[Polar]],Data_Quality_Level,Latitude(degrees),Longitude(degrees),Elevation(meters)
Month,,,,,,,,,,,,,,,,,,,,,
2001-JAN,NaN,0.176252,0.224173,NaN,NaN,0.313830,NaN,NaN,NaN,NaN,...,174,171,172,174,169,0,lev20,26.512778,80.231639,123
2001-FEB,NaN,0.207033,0.249738,NaN,NaN,0.327059,NaN,NaN,NaN,NaN,...,988,986,987,988,976,0,lev20,26.512778,80.231639,123
2001-MAR,NaN,0.222493,0.249700,NaN,NaN,0.294628,NaN,NaN,NaN,NaN,...,1169,1169,1169,1169,1165,0,lev20,26.512778,80.231639,123
2001-APR,NaN,0.317698,0.338976,NaN,NaN,0.373772,NaN,NaN,NaN,NaN,...,1207,1207,1207,1207,1200,0,lev20,26.512778,80.231639,123
2001-MAY,NaN,0.671964,0.702189,NaN,NaN,0.752185,NaN,NaN,NaN,NaN,...,691,684,691,691,633,0,lev20,26.512778,80.231639,123

In the similar way we can read different formats of data using these I/O methods, look deeper into these methods in the pandas documentation.